@import "bourbon"

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.nav 
		li 	
			margin-right: 11px !important
			font-size: 11px !important	


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.email 
		margin-right: 21px !important	
		font-size: 11px !important
	.phone 
		font-size: 11px !important
	.nav 
		li 	
			margin-right: 5px !important
			font-size: 9px !important	
			padding: 12px 4.5px 12px 0.5px !important
	.phone 
		&:before 
			left: -18px !important
			top: 5px !important
	.search 
		margin-left: 14px !important

	.catalog_section_goods 
		&_item 
			&_code
				&:after 
					width: 25%
				&:before	
					width: 25%			


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	
	/*Disable Animation on Mobile Devices*/
	.animated
		/*CSS transitions*/
		-o-transition-property: none !important
		-moz-transition-property: none !important
		-ms-transition-property: none !important
		-webkit-transition-property: none !important
		transition-property: none !important
		/*CSS transforms*/
		-o-transform: none !important
		-moz-transform: none !important
		-ms-transform: none !important
		-webkit-transform: none !important
		transform: none !important
		/*CSS animations*/
		-webkit-animation: none !important
		-moz-animation: none !important
		-o-animation: none !important
		-ms-animation: none !important
		animation: none !important
	.nav 
		display: none
		position: relative
		width: 200px
		margin-top: 140px
		left: -63%
		float: left
		transform: translate(-50%, 0)

		li 
			display: block !important
			font-size: 16px !important
			text-align: center
	.logo 
		img 
			display: block !important
			margin: auto !important	
			text-align: center
	.contacts 
		margin: auto
		text-align: center
		.phone 	
			font-size: 15px !important
		.email 
			font-size: 15px !important		
	.top_logo_title 
		font-size: 52px !important		
	.catalog_section
		&_goods
			margin-top: 40px
			&_item 
				max-width: 100%
				width: 249px
				margin: auto
				img 
					
				span 
					color: #c99d60
					text-align: center
					display: block 		
	.catalog_section_goods 
		&_item 
			&_code
				&:after 
					width: 35%
				&:before	
					width: 35%	
	.order_section 
		&_list 
			&:after 
				display: none
			&_item 
				margin-bottom: 90px
				img 
					margin-top: 10px
				&_number 
					font-size: 42px !important
					width: 100px !important
					height: 100px !important		
					line-height: 100px
					margin-bottom: 20px
				&_text 
					font-size: 28px	

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.top_logo_title 
		font-size: 32px !important	
		line-height: 40px !important
	.catalog_section_goods 
		&_item 
			&_code
				&:after 
					width: 27%
				&:before	
					width: 27%
	.nav 
		display: none
		position: relative
		width: 200px
		margin-top: 140px
		left: -67% !important								


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	.catalog_section
		&_goods
			margin-top: 40px
			&_item 
				max-width: 100%
				margin: auto
				img 
					max-width: 100%

				span 
					color: #c99d60
					text-align: center
					display: block 	


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/
/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	.nav 
		display: block !important
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	.top_section 
		background-size: cover !important
	.service_section 
		background-size: cover !important
			

